body {
background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRZtIXi9QZ-oXx3hdAVT9hHBNOaqlCb4cx5tQ&usqp=CAU")
}
h2{color:#0B3954;
font-size:500%;
  letter-spacing:4px;
  text-decoration: underline;
  background-color:#FFFFFF;
  border: solid #FFFFFF 10px;
}
p{
  color:#087E8B;
  font-size:300%;
  background-color:#FFFFFF;
}
img{
  height:250px;
}
icon{
  url()
}
ul{
  text-align-style: none;
  list-style-type: none;
}
li{
  background-color:#FFFFFF;
  float:left;
}
li a{
  padding: 20px;
  font-family: "Copperplate", fantasy;
  text-decoration: none;
  
}
li a:hover{
  background-color: #A89B9D;
    color: #000000;
}
